
#navbar {
    background-color: rgb(121, 201, 228); /* Black background color */
    position: fixed; /* Make it stick/fixed */
    bottom: 0; /* Stay on top */
    width: 96%; /* Full width */
    height: 40px;
    transition: bottom 0.7s; /* Transition effect when sliding down (and up) */
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    text-align: center;
    z-index: 2;
  }
  
  /* Style the navbar links */
  #navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
     
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: blue;
    
  }

  @media only screen and (max-width: 400px) {
    .example{
       display:inline-block;
    }
   }
