
#navbar {
    background-color: rgb(121, 201, 228);
    color: rgb(0, 0, 0); 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    height: 55px;
    margin: 0;
    display: inline-block;
    text-align: center;
    z-index: 2;
  }
  /* Style the navbar links */
  #navbar a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 14px; 
    font-family: sans-serif;
  }
  @media only screen and (max-width: 400px) {
    .example{
       display:inline-block;
    }
   }
