body {
  background-image: url("/img/kullaberg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  margin: 0 auto;
}
#ww_b538218934d68{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
p.slogan{
  font-family: sans-serif;
  font-size: large;
  text-align:center;
}
.logo-slogan{
  background-color: #add8e6;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
div.parent{ 
  width:100%;
  position: relative;
  background-color: white;
  font-size: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
div.text{ 
  vertical-align:middle;
  display:table-cell;
  text-align:justify;
}
.fisk-b{
  text-align:center;
}
.snabb{
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
  width: 90%;
}
ul{
  text-align: center;
  background-color: #add8e6;
  border-radius: 5px;
  padding-bottom: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
/*heading*/
h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}
h2{
  text-align: center;
}
h6{
  opacity: 0.7;
  text-align: center;
  color: black;
}
.l-head{
  font-size: 20px;
}
/* heading end*/
.fulton{
  width: 100%;
  height:295px;
}
.facebook{
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.wrapper {
  max-width: 400px;
  width: 100%;
  font-size: 12px;
  word-wrap: break-word; 
}
#block1 {
  float:left;
  word-wrap: break-word;
  width: 100px;
}
#block2
{
  float:right;
  width: 100px;
  word-wrap: break-word;
  padding: 5px; 
}
.blocka{
  margin: 0 auto;
  width: 50%;
}
div.mySlides{
  height:150px;
}
a.noline:link {
  text-decoration: none;
  color: black;
}
a.noline:visited {
  text-decoration: none;
  color: black;
}
a.noline:hover {
  text-decoration: none;
}
a.noline:active {
  text-decoration: none;
  color: black;
}
a.noline {
  line-height: 1;
  font-size: 12px;
  font-family: sans-serif;
}
li {
  list-style-image: url(/right-arrow.svg);
  /* OR */
  list-style-type: '👉';
  padding-inline-start: 1ch;
  
}
table.bottom{
  padding-bottom: 50px;
}
